<header>
  <div class="m-header" [style.display]="this.headerStyle">
    <a class="mobile-menu" id="mobile-collapse1" href="javascript:" (click)="this.NavCollapsedMob.emit()"><span></span></a>
    <a [routerLink]="['/dashboard']" class="b-brand">
      <img src="assets/images/ICONE_ATLAS_PNG.png" alt="ATLAS" style="width:38px; height:38px; object-fit:contain; border-radius:8px;">
      <span class="b-title">ATLAS</span>
    </a>
  </div>
  <a class="mobile-menu" [ngClass]="{ on: this.menuClass }" id="mobile-header" href="javascript:" (click)="toggleMobOption()">
    <i class="feather icon-more-horizontal"></i>
  </a>
  <div class="collapse navbar-collapse" [style.display]="this.collapseStyle">
    <app-nav-left class="me-auto" [style.display]="this.headerStyle"></app-nav-left>
    <app-nav-right class="ms-auto"></app-nav-right>
  </div>
</header>
