<div>
  <a [routerLink]="['/dashboard']" class="b-brand">
    <img src="assets/images/ICONE_ATLAS_PNG.png" alt="ATLAS" style="width:60px; height: 60px; object-fit:contain; border-radius:10px;">
    <span class="b-title">ATLAS</span>
  </a>
  <img src="assets/images/ICONE_ATLAS_PNG.png" alt="ATLAS" class="logo-thumb" style="width:40px; height:40px; object-fit:contain; border-radius:8px; position:absolute;">
  <a href="javascript:" class="mobile-menu" [ngClass]="{ on: navCollapsed }" id="mobile-collapse" (click)="navCollapse()"><span></span></a>
</div>
